@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-plus-jakarta-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-jetbrains-mono), ui-monospace, monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
}
body{
  min-height: 100vh;
}
